<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/main.css">

    <title>Home</title>
</head>

<body>
    <header>
        <div class="header-div">
            <img class="ml-logo" src="/images/logo-mercado-liebre.svg" alt="">
            <div class="search-bar-main">
                <p class="search-bar">Buscar productos, marcas</p>
                <i class="fa-solid fa-magnifying-glass lupa"></i>
            </div>
        </div>
            <div class="cartel-cuotas">
                <p><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
            </div>

        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="nav-label">
                <i class="fas fa-bars"></i>
            </label>

            <ul>
                <div class="div-izq">
                <li class="nav-item"><a href="" style="text-decoration: none;">Ofertas</a></li>
                <li class="nav-item"><a href="" style="text-decoration: none;">Tiendas Oficiales</a></li>
                <li class="nav-item"><a href="" style="text-decoration: none;">Vender</a></li>
                <li class="nav-item"><a href="" style="text-decoration: none;">Ayuda</a></li>
                </div>
                <div class="div-der">
                <li class="nav-item"><a href="/views/register.html" style="text-decoration: none;">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                <li class="nav-item"><a href="" style="text-decoration: none;">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li class="nav-item"><a href="" style="text-decoration: none;">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
                </div>
            </ul>
        </nav>



    </header>

    <main>

        <h1 class="titulares">Basado en tu última visita</h1>
            <section class="lista-articulos">
                <div class="articulos">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                        <div class="descripcion">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$6.770</p>
                            <p class="oferta">40% OFF</p>
                            <h4>Cafetera Moulinex</h4>
                        </div>
                </div>

                <div class="articulos">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                        <div class="descripcion">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$230.000</p>
                            <p class="oferta">20% off</p>
                            <h4>MacBook Pro 2019</h4>
                        </div>
                </div>

                <div class="articulos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="MacBook">
                        <div class="descripcion">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$70.500</p>
                            <p class="oferta">10% off</p>
                            <h4>Samsung Galaxy S10</h4>
                        </div>
                </div>

                <div class="articulos">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="MacBook">
                        <div class="descripcion">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$23.200</p>
                            <p class="oferta">5% off</p>
                            <h4>SmartTv Samsung 43"</h4>
                        </div>
                </div>
            </section>    

            <h1 class="titulares">Seccion de Ofertas</h1>

            <section class="lista-articulos">

                <div class="articulos">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex">
                        <div class="descripcion">   
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$6.770</p>
                            <p class="oferta">40% OFF</p>
                            <h4>Cafetera Moulinex</h4>
                        </div> 
                </div>

                <div class="articulos">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook">
                        <div class="descripcion">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$230.000</p>
                            <p class="oferta">20% off</p>
                            <h4>MacBook Pro 2019</h4>
                        </div>
                </div>

                <div class="articulos">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="MacBook">
                        <div class="descripcion">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$70.500</p>
                            <p class="oferta">10% off</p>
                            <h4>Samsung Galaxy S10</h4>
                        </div>
                </div>

                <div class="articulos">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="MacBook">
                        <div class="descripcion">
                            <i class="fa-solid fa-truck"></i>
                            <p class="precios">$23.200</p>
                            <p class="oferta">5% off</p>
                            <h4>SmartTv Samsung 43"</h4>
                        </div>
                </div>
        </section>
    </main>

    <footer>
        <section>
            <i class="fa-sharp fa-solid fa-credit-card iconos-footer"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fa-solid fa-gift iconos-footer"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fa-solid fa-user-shield iconos-footer"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </section>

        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    </main>

</body>
</html>