<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="/main.css">

    <title>Register</title>
</head>

<body>

<main>
      
    <form class="login" action="/views/home.html" method="GET">
        <p>
            <input class="ingreso" type="text" name="fullName" id="fullName" placeholder="Nombre y Apellido">
        </p>
        <p>
            <input class="ingreso" type="text" name="userName" id="userName" placeholder="Nombre de Usuario">
        </p>
        <p>
            <input class="ingreso" type="email" name="email" id="email" placeholder="E-mail">
        </p>
        <p>
            <label  for="fechaNacimiento">Fecha de Nacimiento</label><br>
            <input class="ingreso" type="date" name="birthDate" id="birthDate">
        </p>
          
        <p>
            <input class="ingreso" type="domicilio" name="domicilio" id="domicilio" placeholder="Domicilio">
        </p>

        <p><label for="perfilUsuario" class="regnegrita">Perfil del Usuario</label></p><br>
        <div class="usuario">
            <p>
              <label class="profileUsuario"><input class="ingreso" type="radio" name="perfilUsuario" value="comprador" id="comprador">Comprador</label>
            </p>
            
            <p>
              <label class="profileUsuario"><input class="ingreso" type="radio" name="perfilUsuario" value="vendedor" id="vendedor">Vendedor</label>
            </p>
        </div><br>





        <p><label for="intereses" class="regnegrita">Categorías de Interés</label></p><br>
        <div class="usuario">
        

          <p>
              <input type="checkbox" value="electro" name="interes" id="electro">
              <label for="electro">Electro</label>
          </p>
          <p>
              <input type="checkbox" value="moda" name="interes" id="moda">
              <label for="moda">Moda</label>
          </p>
          <p>
              <input type="checkbox" value="hogar" name="interes" id="hogar">
              <label for="hogar">Hogar</label>
          </p>
          <p>
              <input type="checkbox" value="jugueteria" name="interes" id="jugueteria">
              <label for="juguetes">Juguetes</label>
          </p>
          <p>
              <input type="checkbox" value="vidaSana" name="interes" id="vidaSana">
              <label for="vidaSana">Vida sana</label>
          </p>
      </div><br>

        <p>
            <label for="fotoUsuario" class="regnegrita">Foto de Usuario</label><br><br>
            <input type="file" id="foto" name="foto" ></input> 
        </p><br>

        <p>
            <input type="password" name="password" id="password" placeholder="Contraseña" class="ingreso"><br>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña" class="ingreso">
        </p>

        <p>
            <button type="submit" class="ingreso animacion-b" id="botonIngreso">Enviar</button>
            <button type="reset" class="ingreso" id="botonReseteo">Borrar</button>
        </p>
    </form>
</main>

</body>

</html>